.information-container {
  font-size: 3.73333vmin;
  margin-bottom: 50px;
}

.information-container .top {
  position: relative;
  width: 100%;
  height: 12vmin;
  background-color: #f4f4f4;
  font-size: 4.26667vmin;
  text-align: center;
  line-height: 12vmin;
}

.information-container .top .back {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 12vmin;
  height: 100%;
}

.information-container .top .back img {
  transform: translate(0, 20%);
  width: 50%;
  height: 50%;
}

.information-container .newTx {
  overflow: hidden;
  padding: 0 5.33333vmin;
}

.information-container .newTx .content {
  padding-bottom: 4vmin;
  padding-top: 4vmin;
  border-bottom: 1px solid #babcbb;
  display: flex;
}

.information-container .newTx .content .img {
  margin-right: 4vmin;
  width: 33.33333vmin;
  height: 24vmin;
}

.information-container .newTx .content .img img {
  width: 100%;
  height: 100%;
}

.information-container .newTx .content .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.information-container .newTx .content .text .text-down span {
  color: #babcbb;
}

.information-container .newTx .content .text .text-down .from {
  float: left;
}

.information-container .newTx .content .text .text-down .date {
  float: right;
}
