.information-container {
  font-size: (14vmin / 3.75);
  margin-bottom: 50px;
  .top {
    position: relative;
    width: 100%;
    height: (45vmin / 3.75);
    background-color: rgb(244, 244, 244);
    font-size: (16vmin / 3.75);
    text-align: center;
    line-height: (45vmin / 3.75);
    .back {
      position: absolute;
      left: 0;
      display: inline-block;
      width: (45vmin / 3.75);
      height: 100%;
      img {
        transform: translate(0, 20%);
        width: 50%;
        height: 50%;
      }
    }
  }
  .newTx {
    overflow: hidden;
    padding: 0 (20vmin / 3.75);
    .content {
      padding-bottom: (15vmin / 3.75);
      padding-top: (15vmin / 3.75);
      border-bottom: 1px solid #babcbb;
      display: flex;
      .img {
        margin-right: (15vmin / 3.75);
        width: (125vmin / 3.75);
        height: (90vmin / 3.75);
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .text-down {
          span {
            color: #babcbb;
          }
          .from {
            float: left;
          }
          .date {
            float: right;
          }
        }
      }
    }
  }
}
