.my-container {
  margin-bottom: 50px;
}

.my-container .bg {
  width: 100%;
  height: 50.93333vmin;
}

.my-container .bg img {
  width: 100%;
  height: 100%;
}

.my-container .user {
  position: absolute;
  top: 36vmin;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  z-index: 999999;
  width: 85%;
  height: 48.26667vmin;
  box-shadow: 0 0 2.66667vmin 0vmin #999;
}

.my-container .user .avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18.66667vmin;
  height: 18.66667vmin;
  border-radius: 9.33333vmin;
  box-shadow: 0 0 1.33333vmin 0vmin #999;
  padding: 2.13333vmin;
  box-sizing: border-box;
  background-color: #fff;
}

.my-container .user .avatar img {
  width: 100%;
  height: 100%;
}

.my-container .user .name {
  text-align: center;
  font-size: 3.73333vmin;
  margin-top: 16vmin;
}

.my-container .user .login {
  text-align: center;
  margin-top: 6.66667vmin;
}

.my-container .user .login button {
  padding: 2.13333vmin 3.73333vmin;
  border: 0;
  background-color: #14a678;
  color: #fff;
  font-size: 3.73333vmin;
  border-radius: 1.6vmin;
}

.my-container .join {
  width: 92%;
  margin: 0 auto;
}

.my-container .join img {
  width: 100%;
}

.my-container .line {
  width: 100%;
  height: 36vmin;
}

.my-container .fn {
  margin-top: 1.6vmin;
  width: 100%;
  height: 20px;
  padding: 0 6.66667vmin;
  box-sizing: border-box;
}

.my-container .fn ul li {
  width: 20.26667vmin;
  box-sizing: border-box;
  padding: 2.66667vmin;
  font-size: 3.73333vmin;
  text-align: center;
  float: left;
  margin-bottom: 5.33333vmin;
}

.my-container .fn ul li i {
  text-align: center;
  font-size: 4.8vmin;
  display: block;
  margin-bottom: 2.13333vmin;
}

.my-container .fn ul li:nth-child(2) {
  margin: 0 12.8vmin;
}

.my-container .fn ul li:nth-child(5) {
  margin: 0 12.8vmin;
}
